*{
	margin: 0;
}

::selection{
	color: black;
	background: black;
}

body{
	color: white;
	background: url(../img/frukost1.jpg)no-repeat;
	background-size: cover;
}


.box_background{
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 1;
	margin-top: 0;
}

.navbar{
	width: 100%;
	float: right;
	background: linear-gradient(180deg,black,transparent);
	height: 150px;
	z-index: 15;
	position: absolute;
}

.navbar ul{
	margin: 20px;
	margin-top: 10px;
}

.navbar ul .logga{
	margin-top: 5px;
}

.navbar ul li{
	float: right;
	margin: 30px 148px;
	text-align: center;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 35px;
}

.navbar ul li a img{
	width: 100px ;
}


.underline{
	position: absolute;
	background: white;
	width: 10px;
	height: 4px;
	z-index: 20;
	top: 45vh;
	width: 430px;
	left: 33vw;
}

.TextInfo{
	position: absolute;
	z-index: 20;
	top: 180px;
	left: 32%;
	text-align: center;
}
.TextInfo p{
	font-size: 80px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Work Sans', sans-serif;
}

.TextInfo span{
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Klee One', cursive;
}

.meny{
	background: url(../img/meny_bakgrund.jpg)no-repeat;
	background-size: cover;
}
.menu_box{
	position: relative;
	background: white;
	width: 65vw;
	height: 60vh;
	top: 180px;
	margin: auto;
	z-index: 100;
	border-radius: 20px;
}

.menu_box .menu_wrapper{
	display: grid;
	width: 100%;
	height: 100%;
	grid-gap: 10px;
	grid-template-columns: 10px 1fr 1fr 1fr 10px;
	grid-template-rows: 50px 1fr 10px;
	grid-template-areas:
	"ar ar ar ar ar"
	".. b1 b2 b3 .."
	".. .. .. .. ..";
}

article{
	grid-area: ar;
}

article p{
	font-size: 50px;
	color: black;
	font-family: 'Work Sans', sans-serif;
	margin-left: 70px;
	top: 14px;
	margin-left: 240px;
}
.box1{
	grid-area: b1;
	background: url(../img/menu1.1.jpg)no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.box2{
	grid-area: b2;
	background: url(../img/menu2.2.jpg)no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.box3{
	grid-area: b3;
	background: url(../img/menu3.1.jpg)no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.menu1_background{
	position: absolute;
	border-radius: 10px;
	width: 257.5px;
	height: 266.5px;
	background-color: gray;
	opacity: 0.0000001;
	top: 60px;
	left: 19.5px;
	transition: background-color 0.5s;
	z-index: 1;
}
 
.menu2_background{
	position: absolute;
	border-radius: 10px;
	width: 257.5px;
	height: 266.5px;
	background-color: grey;
	top: 60px;
	left: 287px;
	transition: background-color 0.5s;
	z-index: 1;
	opacity: 0.0000001;
}

.menu3_background{
	position: absolute;
	border-radius: 10px;
	width: 257.5px;
	height: 266.5px;
	background-color: gray;
	opacity: 0.0000001;
	top: 60px;
	right: 19.5px;
	transition: background-color 0.5s;
	z-index: 1;
}

.menu1_background:hover,
.menu2_background:hover,
.menu3_background:hover{
	opacity: 0.75;
	background-color: black;
}

.menu1_background .menu1_info,
.menu2_background .menu2_info,
.menu3_background .menu3_info{
	margin-left: 15px;
	margin-top: 15px;
	width: 230px;
	height: 230px;
}

.menu1_background .menu1_info p,
.menu2_background .menu2_info p,
.menu3_background .menu3_info p{
	text-align: center;
	color: transparent;
	font-family: 'Work Sans', sans-serif;
	font-size: 36px;
}
.menu1_background .menu1_info span,
.menu2_background .menu2_info span,
.menu3_background .menu3_info span{
	color: transparent;
	text-align: center;
	font-family: 'Luxurious Roman', cursive;
	font-size: 20px;
}

.menu1_background:hover .menu1_info p,
.menu1_background:hover .menu1_info span,
.menu2_background:hover .menu2_info p,
.menu2_background:hover .menu2_info span,
.menu3_background:hover .menu3_info p,
.menu3_background:hover .menu3_info span{
	color: white;
	z-index: 2;
}

.kontakt *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;;
}

.kontakt{
	min-height: 120vh;
	width: 100%;
	background: rgb(82, 98, 111);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	width: 80%;
	height: 40%;
	margin-top: 90px ;
	background: #FFFFFF;
	border-radius: 6px;
	padding: 20px 60px 40px 40px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container .content .contact_info{
	width: 25%;
	height: 100%;
	position: relative;
}

.content .contact_info::before{
	content: '';
	position: absolute;
	height: 70%;
	width: 2px;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);	
	background: #afafb6;
}

.content .contact_info .details{
	margin: 14px;
	text-align: center;
}

.content .contact_info .details i{
	font-size: 30px;
	color: #3e2093;
	margin-bottom: 10px;
}

.content .contact_info .details .topic{
	font-size: 22px;
	font-weight: 900;
	color: black;
}

.content .contact_info .details .text1,
.content .contact_info .details .text2{
	font-size: 18px;
	color: #afafb6;
}

.container .content .message_info{
	width: 75%;
	margin-left: 75px;
}

.content .message_info .topic-text{
	font-size: 23px;
	font-weight: 600;
	color: #3e2093;
}

.message_info .input-box{
	height: 50px;
	width: 100%;
	margin: 12px 0;
}

.message_info .input-box input,
.message_info .input-box textarea,
.message_info .input-box .message-box{
	height: 100%;
	width: 100%;
	border: none;
	font-size: 20px;
	background: #F0F1F8;
	border-radius: 6px;
	padding: 0 15px;
	resize: none;
}

.message_info .message-box{
	min-height: 110px;
	margin-top: 6px;
}

.message_info .button input[type="button"]{
	color: #FFFFFF;
	font-size: 22px;
	outline: none;
	border: none;
	padding: 12px 26px;
	border-radius: 6px;
	background: #3e2093;
	cursor: pointer;
	transition: all 0.3 ease;
}

.button input[type="button"]:hover{
	background: #5029bc;
}

.navbar_contact{
	position: absolute;
	top: -30px;
	width: 100%;
	float: right;
	height: 150px;
	z-index: 15;
	position: absolute;
}

.navbar_contact ul{
	margin: 20px;
	margin-top: 40px;
}

.navbar_contact ul .logga{
	margin-top: -1px;
}
.navbar_contact ul li{
	float: right;
	margin: 30px 150px;
	text-align: center;
}

.navbar_contact ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 35px;
}

.navbar_contact ul li a img{
	width: 100px ;
}
